* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What happens when we set the display property to flex? 
The nav bar becomes a flex container. 
*/
nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
What is the flex-wrap property? 
It tells the flex items to go down to the next row (default) when theres overflow or
viewport is smaller
*/
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}

/* 
What does the flex-shrink property specify?
What is doing here? 
It defines ability for flex item to shrink if necessary 
Here it is set to 0 so the element will not shrink
*/
footer {
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What does the justify-content property do? 
It defines the alignment of the flex items along the main axis 
*/
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
What is the flex property a shorthand property for?
It short hand for flex-grow, flex-shrink, and flex-basis
flex-grow 0 - means the card wont grow
flex-shrink 0 - means the card wont shrink
flex-basis 400px - sets the initial width of the card to 400px
*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
What does the flex-direction property define?
What is it doing here?
establishes the main axis so defines the direction flex items are placed in the container 
Once the viewport is less than 768 change the direction to column so they items list
out one below the other
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
